<section class="mt-5">
    <div class="container">
        <div class="content p-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div>
                        <img class="img-fluid" src="../assets/images/signin-image.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="mt-2">Login</h2>
                    <form class="mt-5" [formGroup]='loginForm'>
                        <div>
                            <div class="position-relative">
                                <i class=" login-icons fas fa-user position-absolute"></i>

                            </div>
                            <input type="text" placeholder="Your Name" formControlName="userName">
                        </div>

                        <div class="mt-4">
                            <div class="position-relative">
                                <i class="login-icons position-absolute fas fa-lock"></i>
                            </div>
                            <input type="password" placeholder="Password" formControlName="password">
                        </div>

                        <div class="mt-4">
                            <input type="checkbox">
                            <span style="margin-left: 4px;">Remember me</span>
                        </div>

                        <div class="mt-5">
                            <button [disabled]='loginForm.invalid' class="btn btn-primary login-button">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-lg-6">
                    <a routerLink="/register">Create an account</a>
                </div>
                <div class="col-lg-6">
                    <span>Or login with</span>
                    <span><i class="social-icon fac fab fa-facebook-square"></i></span>
                    <span><i class="social-icon tw fab fa-twitter-square"></i></span>
                    <span><i class="social-icon go fab fa-google-plus-square"></i></span>
                </div>
            </div>
        </div>
    </div>
</section>
