
<!-- image Upload -->
<!-- <label class="image-upload-container btn btn-bwm">
  <span>Select Image</span>
  <input #imageInput
         type="file"
         accept="image/*"
         (change)="processFile(imageInput)">
</label> -->

<!-- Google Auth SignIn And SignOut -->
<a class="btn btn-primary"  (click)="signIn()" *ngIf="user == null" role="button"> SignIn </a>
<a class="btn btn-primary"  (click)="signOut()" *ngIf="user != null" role="button"> SignOut </a>


<!-- Display User Name After login -->
<div *ngIf="user != null">
  <div>You Are Signed {{user.getBasicProfile().getName()}}</div>
</div>
