/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
input, select {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 2px solid #ebebeb;
    padding: 10px 5px !important;
    color: #222;
    margin-bottom: 15px;
     }
.main[_ngcontent-ifk-c0]{
overflow: auto !important;
}
