
<!-- image Upload -->
<!-- <label class="image-upload-container btn btn-bwm">
  <span>Select Image</span>
  <input #imageInput
         type="file"
         accept="image/*"
         (change)="processFile(imageInput)">
</label> -->

<!-- file input to upload files -->
<input (change)="onFileSelected()" type="file" id="file">

<!-- this section to view file after upload -->
<pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              [original-size]="false"
              style="width: 600px; height: 500px"
  ></pdf-viewer>

