<section class="RegisterForm mt-5">
  <div class="container">
    <div class="row p-5">
      <div class="col-lg-6 col-md-6 col-sm-12 ">
        <form [formGroup]="registerForm" class="row "  (ngSubmit)="onSubmit(registerForm)">
            <h2>Sign up</h2>
            <div class="form-group col-lg-10 col-md-12 col-sm-12">
              <label for=""></label>
              <input type="text"
                class="form-control" name="name" id="name" aria-describedby="helpId" formControlName="userName"  placeholder="&#xf007; Your Name">
            </div>

            <div class="form-group col-lg-10 col-md-12 col-sm-12">
              <input type="email"
                class="form-control" name="email" id="email" aria-describedby="helpId" formControlName="email" placeholder="&#xf0e0;Your Email">
            </div>

            <div class="form-group col-lg-10 col-md-12 col-sm-12">
              <input type="password"
                class="form-control" name="pass" id="pass" aria-describedby="helpId" formControlName="userPassword" placeholder="&#xf023; password">
            </div>

            <div class="form-group col-lg-10 col-md-12 col-sm-12">
              <input type="password"
                class="form-control" name="repass" id="repass" aria-describedby="helpId" formControlName="confirmPassword" placeholder="&#xf023; Repeat your password">
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                I agree all statements in
                <a href="#" class="term-service text-black">Terms of service</a>
              </label>
            </div>

            <div class="btns mt-4">
              <button type="submit" class="btn btn-primary mt-4" > Register </button>
            </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="../../assets/images/signup-image.jpg" alt="">

        <div class="alreadyHave w-75 mx-auto mt-5">
          <a routerLink="/login" class="text-black text-decoration-none"> I am already member </a>
        </div>
      </div>
    </div>
  </div>

</section>
